@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row;
}

main {
  width: 45%;
  margin: 0 0 0 auto;
  padding-left: 30%;
}

main section {
  animation: slidein 1s ease-in;
}

aside {
  position: fixed;
  width: 50%;
  height: 100vh;
  align-items: center;
  background: #30cdff;
  background: -webkit-linear-gradient(top, #a4e9ff, #ebebeb);
  background: -moz-linear-gradient(top, #a4e9ff, #ebebeb);
  background: linear-gradient(to bottom, #a4e9ff, #ebebeb);
}

nav .container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
nav .container ul li {
  display: inline-block;
}
nav .container ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}
nav .container ul li.active {
  background-color: #001fff;
  transition: 0.3s ease background-color;
  transition: 0.3s ease ;
  border-radius: 16px;
}
nav .container ul li.active a {
  color: rgb(255, 255, 255);
}

.profile {
  border-radius: 50%;
  height: 290px;
  width: 292px;
  margin: 10% auto 2% auto;
  display: block;
}

.profileTxt {
  display: flex;
  margin-top: 10%;
}

.profileTxt .iam {
  margin-left: 10%;
}

.profileTxt .name {
  margin-left: 2%;
  color: #001fff;
}

.status {
  margin-left: 10%;
  margin-top: 2%;
}

.logo {
  margin-left: 10%;
}

.fa-twitter {
  background: #000000;
  color: white;
}

.fa-linkedin {
  background: #000000;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-twitter:hover {
  background: #55acee;
  color: white;
}

.fa-github:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.fa-linkedin:hover {
  background: #007bb5;
  color: white;
}

.heading {
  display: flex;
  color: #001fff;
  margin: 5% 0% 3% 0%;
}

.buttons {
  display: flex;
  margin-top: 3%;
}

.download {
  background-color: #001fff;
  color: white;
  width: 200px;
  height: 30px;
  cursor: pointer;
  border-radius: 16px;
  border: none;
}
.hireMe {
  background-color: #000000;
  color: white;
  width: 200px;
  height: 30px;
  margin-left: 5%;
  cursor: pointer;
  border-radius: 16px;
  border: none;
}

.myPro {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.myPro a {
  text-decoration: none;
}
.myPro .extrenelink {
  height: 155px;
  width: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(48, 205, 255);
  background: linear-gradient(
    0deg,
    rgba(48, 205, 255, 0.8421962535014006) 0%,
    rgba(48, 205, 255, 0.455641631652661) 10%,
    rgba(48, 205, 255, 0.1195071778711485) 30%
  );
  border-radius: 16px;
}

.myPro span {
  color: #001fff;
}

.myPro img {
  height: 100px;
  width: 100px;
}
.myPro .extrenelink:hover {
  transform: scale(1.1);
  background: rgb(48, 205, 255);
  background: linear-gradient(
    0deg,
    rgba(48, 205, 255, 1) 0%,
    rgba(48, 205, 255, 0.7665660014005602) 32%,
    rgba(48, 205, 255, 0.1195071778711485) 64%
  );
}

.bar {
  width: 50%;
  background-color: #ddd;

  height: 10px;
  border-radius: 16px;
  box-shadow: 0px 0px 5px #001fff;
}

.skills {
  text-align: right;
  color: white;
  height: 10px;
  font-size: xx-small;
}

.html {
  width: 50%;
  background-color: #007bb5;
}
.css {
  width: 40%;
  background-color: #007bb5;
}
.cs {
  width: 45%;
  background-color: #007bb5;
}
.php {
  width: 35%;
  background-color: #007bb5;
}

.sql {
  width: 50%;
  background-color: #007bb5;
}

.competences {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.competences p {
  color: #001fff;
}

.competences .tool {
  height: 155px;
  width: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(48, 205, 255);
  background: linear-gradient(
    0deg,
    rgba(48, 205, 255, 0.8421962535014006) 0%,
    rgba(48, 205, 255, 0.455641631652661) 10%,
    rgba(48, 205, 255, 0.1195071778711485) 30%
  );
  border-radius: 16px;
}
.competences img {
  height: 100px;
  width: 100px;
}

.competences .tool:hover {
  transform: scale(1.1);
  background: rgb(48, 205, 255);
  background: linear-gradient(
    0deg,
    rgba(48, 205, 255, 1) 0%,
    rgba(48, 205, 255, 0.7665660014005602) 32%,
    rgba(48, 205, 255, 0.1195071778711485) 64%
  );
}

#contact .conForm {
  padding: 2%;
  margin: 3% 0%;
  width: 75%;
  background: rgb(48, 205, 255);
  background: linear-gradient(
    0deg,
    rgba(48, 205, 255, 0.8421962535014006) 0%,
    rgba(48, 205, 255, 0.455641631652661) 10%,
    rgba(48, 205, 255, 0.1195071778711485) 30%
  );
  border-radius: 16px;
}
#contact .conForm form {
  margin-left: 8%;
}

#contact form input {
  width: 80%;
  height: 20px;
  border: none;
  opacity: 0.5;
  border-bottom: 2px solid #001fff;
}

#contact form .message {
  height: 80px;
}

#contact form .details {
  height: 100px;
}
#contact form button {
  background-color: #001fff;
  color: white;
  width: 200px;
  height: 30px;
  cursor: pointer;
  border-radius: 16px;
  border: none;
  margin-top: 7%;
}

@keyframes slidein {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

